.video-modal__background#videoModalBackground
.video-modal__content#videoModalContent
    .video-modal__wrap
        iframe(
            src=""
            width="auto"
            height="auto"
            title=""
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen)
        .video-modal__close#videoBtnClose
            .picture
                include ../../../img/icon-cross.svg
