.quiz#quiz
    .quiz__dialog
        form.quiz__content(action="/" method="POST")#quizForm
            .quiz__button-close.btn-quiz-toggle.btn-reset-quiz
                .button
                    include ../../../img/icon-cross.svg

            .quiz__prolog#quizProlog
                .pic
                    include ../../../img/questionmark.svg
                .title Как определить какой именно экран, подойдет лучше всего?
                .content
                    .subtitle Предлагаем пройти тест из 5 вопросов, на основании ответов на которые, мы бесплатно подберем нужную вам конфигурацию
                    .btn.btn_primary#btnQuizQuestionsStart Пройти тест

            .quiz__epilogue#quizEpilogue
                .quiz__epilogue-body
                    .title Заявка отправлена
                    .subtitle Перезвоним вам в ближайшее время
                    .pic
                        img(src="/img/icon-modal-phone.svg" alt="")
                    .btn.btn_primary.btn-quiz-toggle.btn-reset-quiz Закрыть окно

            .quiz__questions#quizQuestions
                .quiz__body

                    .quiz__slide.active(data-quiz-property="location")#quizSlide_1
                        .quiz__slide-title Где будет стоять экран?
                        .quiz__slide-subtitle Уличные экраны, в отличии от внутренних, защищены от воздействий внешней среды и светят ярче солнечного света
                        .quiz__slide-controllers
                            .quiz__radio-group
                                input#quizLocationOutside(type='radio' name='location' value='')
                                label.quiz__card(
                                    for='quizLocationOutside'
                                    data-quiz-property="location"
                                    data-quiz-value="outside")
                                        .active-background
                                        img.picture(src="/img/quiz-location-outside.png" alt="")
                                        span.text На улице
                                input#quizLocationInside(type='radio' name='location' value='')
                                label.quiz__card(
                                    for='quizLocationInside'
                                    data-quiz-property="location"
                                    data-quiz-value="inside")
                                        .active-background
                                        img.picture(src="/img/quiz-location-inside.png" alt="")
                                        span.text В помещении

                    .quiz__slide(data-quiz-property="distance")#quizSlide_2
                        .quiz__slide-title Какое расстояние от экрана до наблюдателя?
                        .quiz__slide-subtitle На какое минимальное расстояние зритель может подойти без ухудшения качества изображения
                        .quiz__slide-controllers
                            .quiz__slider-group
                                .quiz__card
                                    img.picture(src="/img/quiz-distance.png" alt="")
                                    span.text.text_warning#distanceText Выберите расстояние до экрана!
                                .quiz__single-slider
                                    include ../custom-range/custom-range-quiz-distance
                                    .quiz__distance-comment
                                        .comment-item
                                            .picture#commentSmiley
                                                include ../../../img/icon-smile.svg
                                                include ../../../img/icon-sad-smile.svg
                                            .text
                                                span(data-quiz-distance-comment="0").visible Выберите расстояние до экрана!
                                                span(data-quiz-distance-comment="1") Расстояние до экрана в 1 метр - сверхчеткое изображение для особых задач.
                                                span(data-quiz-distance-comment="24") Расстояние от 2 до 4 метров - для презентаций с мелким текстом.
                                                span(data-quiz-distance-comment="510") Расстояние от 5 до 10 метров - хорошая картинка для помещения.
                                                span(data-quiz-distance-comment="1020") Расстояние от 11 до 20 метров - уличный видеоэкран.
                                                span(data-quiz-distance-comment="2050") Расстояние от 21 до 50 метров - уличный экран или медиафасад.

                    .quiz__slide(data-quiz-property="size")#quizSlide_3
                        .quiz__slide-title Какими должны быть ширина и высота экрана?
                        .quiz__slide-subtitle Эти параметры влияют на количество пикселей, размер экрана, цену и расходы на транспортировку
                        .quiz__slide-controllers
                            .quiz__slider-group
                                .quiz__card
                                    img.picture(src="/img/quiz-size.png" alt="")
                                    span.text.text_warning#sizeText Выберите размеры экрана!
                                .quiz__sliders
                                    include ../custom-range/custom-range-quiz-width
                                    include ../custom-range/custom-range-quiz-height

                    .quiz__slide(data-quiz-property="contract")#quizSlide_4
                        .quiz__slide-title Нужна аренда или хотите купить сразу?
                        .quiz__slide-subtitle
                            | При аренде настроим всё по техзаданию.
                            br
                            | При покупке сразу подскажем, как провести подключение.
                        .quiz__slide-controllers
                            .quiz__radio-group
                                input#quizRent(type='radio' name='contract' value='')
                                label.quiz__card(
                                    for='quizRent'
                                    data-quiz-property="contract"
                                    data-quiz-value="rent")
                                        .active-background
                                        img.picture(src="/img/quiz-rent.png" alt="")
                                        span.text Нужна аренда
                                input#quizBuy(type='radio' name='contract' value='')
                                label.quiz__card(
                                    for='quizBuy'
                                    data-quiz-property="contract"
                                    data-quiz-value="buy")
                                        .active-background
                                        img.picture(src="/img/quiz-buy.png" alt="")
                                        span.text Куплю сразу

                    .quiz__slide(data-quiz-property="contacts")#quizSlide_5
                        .quiz__slide-title Оставьте свои контакты
                        .quiz__slide-subtitle Свяжемся с вами в течение дня и поможем подобрать оптимальный вариант экрана
                        .quiz__slide-controllers
                            include ../../comps/form-order/form-order-quiz

                .quiz__footer
                    .quiz__btn-next
                        .btn.btn_primary.not-focused#quizBtnNextStep Следующий вопрос

                    .quiz__btn-prev
                        .btn.btn_icon-outlined.not-focused#quizBtnPrevStep
                            include ../../../img/icon-slider-btn-arr.svg

                    .quiz__state
                        .quiz__state-caption
                            span#numOfSlide 1
                            | из 5 вопросов
                        .quiz__progress
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot
                            span.quiz__progress-point
                                span.dot