.label-controll.label-controll__size-type-width
    .label-controll__caption Ширина
    .label-controll__body
        .label-controll__content

            .custom-range
                .input-suffix.custom-input
                    input.value(
                        type="number"
                        data-calc-property="width"
                        data-min="320"
                        data-max="30400"
                        value=""
                    )
                    span.input-suffix__delimiter
                    span.input-suffix__units мм

                .custom-range__controller
                    span.status-bar
                    spna.slider
                    input.custom-range__slide(
                        type="range"
                        step="320"
                        min="320"
                        max="30400"
                        value="320"
                        data-calc-property="width"
                    )

                .custom-range__value-error(data-default-txt="Некорректное значение ширины.")
