.label-controll.label-controll__size-type-height
    .label-controll__caption Высота
    .label-controll__body
        .label-controll__content

            .custom-range
                .input-suffix.custom-input
                    input.value(
                        type="number"
                        data-calc-property="height"
                        data-min="160"
                        data-max="16000"
                        value=""
                    )
                    span.input-suffix__delimiter
                    span.input-suffix__units мм

                .custom-range__controller
                    span.status-bar
                    spna.slider
                    input.custom-range__slide(
                        type="range"
                        step="160"
                        min="160"
                        max="16000"
                        value="160"
                        data-calc-property="height"
                    )

                .custom-range__value-error(data-default-txt="Некорректное значение высоты.")