.label-controll
    .label-controll__caption Ширина
    .label-controll__body
        .label-controll__content

            .custom-range
                .input-suffix.custom-input#quizSizeWidth
                    input.value(
                        type="text"
                        data-calc-property="quizSizeWidth"
                        value=""
                    )
                    span.input-suffix__delimiter
                    span.input-suffix__units#quizSizeWidthUnits метры

                .custom-range__controller
                    span.status-bar
                    spna.slider
                    input.custom-range__slide(
                        type="range"
                        step="1"
                        min="1"
                        max="100"
                        value="1"
                        data-calc-property="quizSizeWidth"
                    )